.prompt--container {
    display: flex;
    flex-direction: column;
    margin: 2em;
    height: 70%;
    padding: 1.5em;
    background-color: #dbedf3;
    border-radius: 1em;
    border: 0.5em #283149 solid;
    justify-content: center;
}
.prompt-head--container {
    display:flex;
    justify-content: space-between
}
.prompt-button--container {
    display: flex;
    justify-content: flex-end;
    background-color: #404b69;
    border-radius: 2em;
    border: 3px solid #283149;
    color: #dbedf3
}
.prompt-next-button,
.prompt-previous-button {
    width: 2em;
    background-color: transparent;
    border: none;
    outline: 0;
    color: #dbedf3;
}

.prompt-next-button {
    border-left: 3px solid #283149;
}
.prompt-previous-button {
    border-right: 3px solid #283149;
}
.prompt-next-button:hover {
    border-radius: 0em 2em 2em 0em;
    border-left: 3px solid #283149;


}
button:hover,
input:hover,
input:focus{
    background-color: rgb(78, 91, 128);
}
.prompt-previous-button:hover {
    border-radius: 2em 0em 0em 2em;
    border-right: 3px solid #283149;

}
.prompt-previous-button:focus {
    border-radius: 2em 0em 0em 2em;
    border-right: 3px solid #283149;
}
.prompt-next-button:focus {
    border-left: 3px solid #283149;

}

.prompt-button--container h3 {
    margin: 0 0.5em;
}

.prompt-property--container {
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
}

.prompt-body-title span {
    font-weight: bolder;
}

li {
    list-style: none;
    margin: 0.5em;;
    color: #404b69;
    padding-left: 1em;
    background-color: rgba(107, 107, 107, 0.2);
    font-size: 1em;
    font-weight: bold;
    outline: 0.08em  #404b69 solid;
    width: 8em;
}

.prompt-body-title{
    margin: 1em 0;

}