.prompt--container,
.prompt-head--container,
.prompt-button--container {
  display: flex;
}

.prompt--container {
  flex-direction: $flexDirColumn;
  margin: 2em;
  height: 70%;
  padding: 1.5em;
  background-color: $lightBlueBackground;
  border-radius: 1em;
  border: 0.5em $darkBlue solid;
  justify-content: $justifyContentCenter;
}
.prompt-head--container {
  justify-content: $justifyContentSpaceBetween;
}
.prompt-button--container {
  justify-content: $justifyContentFlexEnd;
  background-color: $darkBlueBackground;
  border-radius: 2em;
  border: $darkBlueBorder;
  color: $lightBlueBackground;
}
.prompt-next-button,
.prompt-previous-button {
  width: 2em;
  background-color: transparent;
  border: none;
  outline: 0;
  color: $lightBlueBackground;
}

.prompt-next-button {
  border-left: $darkBlueBorder;
}
.prompt-previous-button {
  border-right: $darkBlueBorder;
}
.prompt-next-button:hover {
  border-radius: 0em 2em 2em 0em;
  border-left: $darkBlueBorder;
}

button:hover,
input:hover,
input:focus {
  background-color: rgb(78, 91, 128);
}
.prompt-previous-button:hover {
  border-radius: $borderRadius;
  border-right: $darkBlueBorder;
}
.prompt-previous-button:focus {
  border-radius: $borderRadius;
  border-right: $darkBlueBorder;
}
.prompt-next-button:focus {
  border-left: $darkBlueBorder;
}

.prompt-button--container h3 {
  margin: 0 0.5em;
}

.prompt-property--container {
  display: flex;
  align-items: flex-start;
  justify-content: $justifyContentSpaceAround;
}

.prompt-body-title span {
  font-weight: bolder;
}

li {
  list-style: none;
  margin: 0.5em;
  color: $darkBlueBackground;
  padding-left: 1em;
  background-color: rgba(107, 107, 107, 0.2);
  font-size: 1em;
  font-weight: bold;
  outline: 0.08em $darkBlueBackground solid;
  width: 8em;
}

.prompt-body-title {
  margin: 1em 0;
}
