


.board--container {
    display: flex;
    width: 85%;
    height: 40em;
    align-items: center;
    justify-content: center;
    background-position-y: -10.7em;
    background-color: #65a565;
    border-radius: 2%;
    
}
.fox--container {
    display: flex;
    position: absolute;
    width: 35em;
    height: 35em;
}
.box--container {
    display: flex;
    width: 35em;
    height: 35em;
}
.fox {
    width: 7em;
    height: 7em;
    display: flex;
    justify-content: center;
    align-content: center;
}
.fox-img {
    height: 7em;
    width: 7em;
}
.box {
    width: 6em;
    height: 6em;
    border: 0.7em solid tan;
    background-color: #A1884B;

}