.board--container {
    display: flex;
    width: 20em;
    height: 20em;
    align-items: center;
    justify-content: center;
    background-color: green;
}
.fox--container {
    display: flex;
    position: absolute;
    width: 18em;
    height: 18em;
}
.box--container {
    display: flex;
    width: 18em;
    height: 18em;
}
.fox {
    width: 2.5em;
    height: 2.5em;
    background-color: orange;

    
}

.box {
    width: 3em;
    height: 3em;
    background-color: brown;

}