.board--container,
.fox--container,
.box--container,
.fox {
  display: $displayFlex;;
  flex-wrap: wrap;
  justify-content: $justifyContentCenter;
}

.fox,
.board--container {
  align-items: $alignItemsCenter;
}

.board--container {
  width: 30em;
  height: 35em;
  background-color: #65a565;
  border-radius: 2%;
  position: relative;
  border: 0.5em $darkBlue solid;
}

.fox--container {
  position: absolute;
}

.box--container,
.fox--container {
  width: 100%;
  height: 100%;
}

.fox {
  width: 5.5em;
  height: 5.5em;
  animation: shake 2s infinite linear;
}

.box,
.fox-img {
  height: 5em;
  width: 5em;
}

.box {
  border: 0.3em solid tan;
  background-color: #a1884b;
}

@keyframes shake {
  0% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(0.3em);
  }
  100% {
    transform: translateY(0em);
  }
}
