main {
    display: grid;
    grid-template-columns: 50% 50%;
}

.right--container, .left--container {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right--container {
     align-items: center;
}


@media only screen and (max-width: 1080px) {
    main {
        grid-template-columns: 100%;
    }
    .prompt--container,
    .answer--container {
    }
    .left--container {
        align-items: center;
        flex-direction: inline;
    }
    .answer--container {
        width: 70%;
    }
  }



