header,
h1.header-title {
  align-items: $alignItemsCenter;
}

header {
  height: 4em;
  display: $displayFlex;
  justify-content: $justifyContentFlexStart;
  background-color: $darkBlue;
}

h1.header-title {
  font-size: 3.5em;
  display: $displayFlex;
  color: whitesmoke;
}

h1 img {
  width: 1.2em;
}

.header-colored-letters {
  background: -webkit-linear-gradient(rgb(228, 107, 26), rgb(247, 109, 251));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
