@import './normalize';
@import './variables';
@import "./fontAwesome/scss/fontawesome.scss";
@import './components/answer/answer';
@import './components/board/board';
@import './components/header/header';
@import './components/main/main';
@import './components/prompt/prompt';
@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Raleway|Source+Code+Pro');


* {
    margin: 0;
    padding: 0;
}

html, body, main, .App {
    min-height: 100%;
    background-color: $darkBlueBackground;
    font-family: 'Raleway', sans-serif;
    color: $darkBlueBackground;
}    