.answer--container,
.code-snippet--container,
.user-form,
form,
.form--container,
.input-one,
.input-two,
.input-three,
.submit--container {
  display: flex;
  justify-content: $justifyContentCenter;
}

.user-form,
form,
.form--container {
  justify-content: $justifyContentSpaceBetween;
}

.answer--container {
  flex-direction: $flexDirColumn;
  height: 90%;
  width: 100%;
  align-items: $alignItemsCenter;
  font-size: 1em;
}
.code-snippet--container {
  background-color: $lightBlueBackground;
  width: 28em;
  border: 0.5em $darkBlue solid;
  border-radius: 1em;
  align-items: $alignItemsCenter;
}
.user-form {
  flex-direction: $flexDirColumn;
  margin-left: 1em;
  font-family: "Source Code Pro", monospace;
}
form {
  width: 80%;
  padding: 1em;
  flex-direction: $flexDirColumn;
}
.form--container {
  flex-direction: $flexDirColumn;
  background-color: $lightGrey;
  border-radius: 0.3em;
  padding: 0.5em;
  border: 0.08em $darkBlueBackground solid;
}

.input-one,
.input-two,
.input-three {
  align-items: $alignItemsCenter;
  justify-content: $justifyContentFlexStart;
}

.code-snippet--title {
  font-family: "Source Code Pro", monospace;
}

.code-prompt,
.code-snippet--body {
  margin: 0.2em 0.5em;
  min-width: 8em;
}
.search-input,
.search-btn,
.search-btn:focus {
  background-color: $darkBlueBackground;
  color: $lightBlueBackground;
}

.search-btn,
.search-btn:focus {
  width: 4em;
  border-radius: 2em;
  border: $darkBlueBorder;
  outline: none;
}

.search-input {
  border: 0.1em solid $darkBlue;
  width: 8em;
}

.search-input:focus {
  outline: none;
}

.submit--container {
  justify-content: $justifyContentFlexEnd;
  padding-top: 0.5em;
}
